---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Index">
  <main>
    <a href="/">Main Page</a>
    <h1>Blog</h1>
    <h1>Blog</h1>
    <h1>Blog</h1>
    <h1>Blog</h1>
  </main>
</Layout>

<style>

main {
  margin-top: 70px;
}

</style>
