---
import Layout from '../layouts/Layout.astro'
import Skills from "../components/Skills.svelte";
---

<Layout title="Index">
  <main>
    <h1>Astro</h1>
    <h1>Astro</h1>
    <h1>Astro</h1>
    <h1>Astro</h1>
    <h1>Astro</h1>
  </main>
  <Skills slot="skills"/>
</Layout>

