---

---

<header>
  <nav>
    <ul>
      <li><a href="#Bio">Bio</a></li>
      <li><a href="#Projects">Projects</a></li>
      <li><a href="#Experience">Experience</a></li>
      <li><a href="#Skills">Skills</a></li>
      <li><a href="#Links">Links</a></li>
    </ul>
  </nav> 
</header>

<style>

header {
  background-color: #666;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

header * {
  display: inline;
}

a {
  margin: 20px;
  text-decoration: none;
  color: white
}
</style>
